
article {
 /* float: left; */
 border: 5px black;
 text-align: center;
 width: 240px;
 height: 250px;
 line-height: 250px;
}

aside{
 /* float: left; */
 border: 5px black;
 text-align: center;
 width: 480px;
 height: 150px;
 line-height: 150px;
 display: inline-block;
}


section {
 /* float: left; */
 border: 5px black;
 text-align: center;
 width: 480px;
 height: 125px;
 line-height: 120px;
 display: inline-block;
}

body {
    margin: auto;
    width: 480px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

header {
    border: 5px;
    border-color: black;
    width: 100%;
    height: 75px;
    line-height: 75px;
    order: -2;
}

footer{
    border: 1px;
    width: 480px;
    height: 80px;
    line-height: 80px;
    clear: both;
    display: inline-block
}

main {
    flex-flow: row wrap;
    display: flex;
}



@media(min-width: 768px){

    article {
        width: 190px;
        height: 250px;
        line-height: 250px;
       }
       
       aside{
        width: 200px;
        height: 600px;
        line-height: 600px;
       }
       
       
       section {
        width: 380px;
        height: 200px;
        line-height: 200px;
       }
    main {
        width: 760px;
        height: 600px;
    }
    
    body{
        width: 960px;
        flex-flow: row wrap;
    }
       
footer{
        width: 760px;
        height: 150px;
        line-height: 150px;
        display: inline-block;
        }

 header {
        width: 100%;
        height: 100px;
        line-height: 100px;
        }

@media(min-width: 768px){

    article {
        width: 190px;
        height: 250px;
        line-height: 250px;
       }
       
       aside{
        width: 200px;
        height: 600px;
        line-height: 600px;
       }
       
       
       section {
        width: 380px;
        height: 200px;
        line-height: 200px;
       }
    main {
        width: 760px;
        height: 600px;
    }
    
    body{
        width: 960px;
        flex-flow: row wrap;
    }
       
footer{
        width: 760px;
        height: 150px;
        line-height: 150px;
        display: inline-block;
        }

 header {
        width: 100%;
        height: 100px;
        line-height: 100px;
        }

@media(min-width: 1024px){

    article {
    width: 25%;
    height: 35%;
    line-height: 250px;
    }
               
    aside{
    width: 20%;
    height: 85%;
    line-height: 600px;
    }
    
    
    section {
    width: 50%;
    height: 30%;
    line-height: 200px;
    }
    main {
    width: 80%;
    height: 85%;
}

body{
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
}
    
footer{
    width: 100%;
    height: 35%;
    line-height: 150px;
    display: inline-block;
    }

header {
    width: 100%;
    height: 15%;
    line-height: 100px;
    };
